@font-face {
  font-family: prompt-BD;
  src: url(./prompt/Prompt-Bold.ttf);
}
@font-face {
  font-family: prompt-RG;
  src: url(./prompt/Prompt-Regular.ttf);
}
.App {
  height: 100vh;
  /* background-color: black; */
}
.scroll-html {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.topBar {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 20px;
  font-family: prompt-RG;
  color: white;
}
.nav-components {
  padding: 10px 20px 10px 20px;
  transition: 1s;
}
.nav-components:hover {
  color: #fb929e;
  cursor: pointer;
}
